<ul class="nav nav-underline">
  THIS IS NAV
  <br />
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-body-secondary" href="/register">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-body-secondary" href="/me/logout">Logout</a>
  </li>
</ul>
